.header{
    overflow-y: hidden;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(158, 158, 158);
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 20px;
    
}

.logo__image{
    margin-right: 10px;
}

.header__left{
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-right: 400px;
}

.header__center{
    font-size: 20px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__center a:nth-child(1){
    background-color: #FFAE8C;

}

.header__center a:nth-child(2){
    background-color: #00E9FB;

}

.header__center a:nth-child(3){
    background-color: #00FFB0;

}

.header__center a:nth-child(4){
    background-color: #00E9FB;

}

.logo__name{
    font-weight: 400;
    font-size: 27px;
}

.header__side{
    display:flex;
}

.header__center a{
    padding: 5px;
    border-radius: 10px;
}

.header__center a{
    text-decoration: none;
    color: black;
}

.header__right{
    font-size: 20px;
    padding-right: 20px;    
    display:flex;
    align-items: center;
}

